<div class="container">
  <form [formGroup]="myForm" ngsubmit="onSubmit()">
    <div>
      <input type="text" name="task" formcontrolName="task" [(ngModel)] = "newTask">
      <button type="submit" onclick="additem()">Additem()</button>
    </div>
    <div formArrayName="arr" *ngFor="let a of myForm.get('arr').controls; let i = index">
      <div [formGroupName]="i" style="margin-bottom: 10px;">
        <div class="taskList" name="taskList">{{newtask}}</div>
      </div> 
    </div>
  </form>
</div>